header .blog-title {
    font-family: Papyrus, fantasy;
    font-size: 1.1rem;
    font-weight: 400;
}

/* Search */
.css-60ugzx {
    background-color: #0000004a;
}

.dark .css-k22lw5 {
    background-color: #333 !important;
}

.dark .css-k22lw5 input {
    border-color: #565656 !important;
}

.dark .css-k22lw5 input:focus {
    background-color: #565656 !important;
}

.dark .css-k22lw5 input:active {
    background-color: #565656 !important;
}

.dark .css-k22lw5 a {
    background: linear-gradient(175deg, #444, #606060, #444) !important;
}

.dark .css-k22lw5 a div {
    border-color: #333 !important;
}

.css-k22lw5 {
    background-color: #dddddd !important;
}

.css-k22lw5 input {
    border-color: white !important;
}

.css-k22lw5 input:focus {
    background-color: white !important;
}

.css-k22lw5 input:active {
    background-color: white !important;
}

.css-k22lw5 a {
   background: linear-gradient(175deg, #e8e8e8, #ffffff, #e8e8e8) !important;
}

/* Side Menu */
.dark .ScrollAreaViewport {
    background-color: #333 !important;
    border-color: #222 !important;
}

.dark .ScrollAreaViewport a:hover {
    background-color: #444;
}

.ScrollAreaViewport {
    text-transform: uppercase;
}

/* Navbar */
.dark .blog-nav-text {
    text-transform: uppercase;
}

.blog-nav-text {
    text-transform: uppercase;
}

.css-kff9ir {
    text-transform: uppercase !important;
}

.dark .blog-nav-more-dropdown {
    border-color: #151515 !important;
}

.dark .blog-nav-more-dropdown {
    background-color: #333 !important;
}

.dark .blog-nav-more-dropdown a:hover {
    background-color: #444 !important;
}

.blog-nav-more-dropdown a {
    text-transform: uppercase !important;
}

/* Table of Contents */
.css-ekakl5 {
    background-color: #b2b2b2 !important;
}

.css-ekakl5 a:hover {
    color: white;
}

.dark .css-ekakl5 {
    background-color: #151515 !important;
}

.dark .css-ekakl5 a {
    color: #666 !important;
}

.dark .css-ekakl5 a:hover {
    color: #acacac !important;
}

.dark .css-g2kbw7:hover {
    background-color: #666 !important;
}

.dark .css-ekakl5 {
    border-color: #151515 !important;
}

/* Table */
table {
    border-color: gray !important;
}

/* Articles */
.css-1ttiqqi {
   font-family: 'Ubuntu', sans-serif !important;
   font-weight: 600 !important;
}

.css-1yk71x6 .css-1d1xwb0 {
    font-family: Papyrus, fantasy;
}

.css-a1d51z {
    max-width: 1280px !important;
}

.dark .post-content-wrapper {
    text-align: center;
}

.dark .css-mjg0cr {
    background-color: #333 !important;
}

.css-mjg0cr {
    background-color: #dddddd !important;
}

.dark .css-1klqesy {
    border: none;
}

/* Blockquotes */
blockquote {
    text-align: center;
    background-color: #b2b2b2 !important;
}

.dark blockquote {
    background-color: #151515 !important;
    border-color: #151515 !important;
}

/*Tags*/
.dark .css-engkft a {
    background-color: #1e1e1e !important;
    border-color: #151515 !important;
}

/* Amazon Iframe */
.amazon {
    display: inline;
}


/* ChatGPT Iframe */
#frame-chatgpt {
    min-height: 5rem;
    height: 5rem;
}

/* Social Iframe */
iframe {
    min-height: 35vh;
}


/* Newsletter Page*/
.css-y0uycb strong {
    font-family: Papyrus, fantasy;
}

/* Written by */
.css-yyjni a {
    font-family: Papyrus, fantasy;
}

/* More articles */
.css-fhxb3m a {
    font-family: Papyrus, fantasy;
}

/* Footer */
.dark footer {
    background-color: #1b1b1b !important;
}

footer {
    background-color: #9db5b9 !important;
}

footer .css-17c48sq {
    font-family: Papyrus, fantasy;
}